[Unit]
Description=Weather DAQinstance
After=network.target

[Service]
User=klm
Group=klm
WorkingDirectory=/home/klm/weather/weather_daq/
ExecStart=/home/klm/weather/weather_daq/.venv-daq/bin/python acquire.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
